*.aux
*.auxlock
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.thm
*.synctex.gz
*.out
*.gnuplot
*.table
*.dpth
*.md5
*.dep
*.o
*.DS_Store
*.idea
.jupyter
**/figures/tikz/*.pdf
**/figures/pgfplots/*.pdf
indent.log
.Rproj.user
target
