[submodule "Architettura/ElaboratoSIS"]
	path = Architettura/ElaboratoSIS
	url = https://github.com/fabiooo4/ElaboratoSIS
[submodule "Architettura/elaboratoSIS"]
	path = Architettura/elaboratoSIS
	url = https://github.com/fabiooo4/ElaboratoSIS
